.App {
  text-align: center;
}

.Name{
  color: #1373ce;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-style: oblique 10deg;
  font-smooth: always;
}

.address{
  color: #1373ce;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: whitesmoke;
  font-family: sans-serif;
  font-weight: 600;
  font-style: oblique;
}

.img-circular{
  width: 200px;
  height: 200px;
  align-items: center;
  background-size: cover;
  border-top-left-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
 }
